---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";

export interface Props {
  page: Page<CollectionEntry<"liveBlog">>;
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      class="mt-auto mb-8 flex items-center justify-center gap-4"
      aria-label="Pagination"
    >
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        class:list={[
          "hover:text-background bg-transparent px-6 py-3 text-sm font-bold tracking-wider text-accent uppercase transition-all duration-200 select-none hover:bg-accent",
          { "pointer-events-none opacity-30": !page.url.prev },
        ]}
        ariaLabel="Previous"
      >
        <IconArrowLeft class="inline-block h-4 w-4 rtl:rotate-180" />
        Prev
      </LinkButton>
      <span class="text-skin-base text-lg font-bold uppercase">
        {page.currentPage} / {page.lastPage}
      </span>
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        class:list={[
          "hover:text-background bg-transparent px-6 py-3 text-sm font-bold tracking-wider text-accent uppercase transition-all duration-200 select-none hover:bg-accent",
          { "pointer-events-none opacity-30": !page.url.next },
        ]}
        ariaLabel="Next"
      >
        Next
        <IconArrowRight class="inline-block h-4 w-4 rtl:rotate-180" />
      </LinkButton>
    </nav>
  )
}
