---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li class:list={["group inline-block", size === "sm" ? "m-1" : "m-2"]}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "bg-card-bg hover:text-background inline-flex items-center gap-1 border-4 border-foreground px-4 py-2 font-bold tracking-wider text-foreground uppercase transition-all duration-100 hover:translate-x-1 hover:translate-y-1 hover:border-accent hover:bg-accent",
      { "border-2 px-3 py-1 text-xs": size === "sm" },
      { "px-6 py-3 text-sm": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block",
        { "size-3": size === "sm" },
        { "size-5": size === "lg" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
